body{
	height: 40rem;
	width: 50rem;
}
#container{
	height: 35rem;
	width: 30rem;
	background-color: white;
	margin-left: 60%;
	margin-top: 10%;
	border-radius: 10px;
	border: 1px solid black;
	border-radius: 2rem;
}
.logo{
	font-family: sans-serif;
}
.sign{
	font-family: sans-serif;
}
.input{
	height: 3rem;
	width: 24rem;
	margin-left: 10%;
	border-radius: 10px;
	border: 0;
	outline: none;
	border: 1px solid grey;
}
.input:hover{
	border: 1px solid blue;
}
::placeholder{
	font-family: sans-serif;
	font-size: 1rem;
	padding-left: 1rem;
}
.forgot{
	text-decoration: none;
	font-size: 1rem;
	margin-left: 3.6rem;
	color: blue;
}
.forgot-1{
	text-decoration: none;
	font-size: 1rem;
	margin-right: 18.1rem;
	color: blue;
}
.bt1{
	margin-left: 3.6rem;
	background-color: transparent;
	text-decoration: none;
	font-size: 1.1rem;
	color: blue;
}
.bt2{
	float: right;
	margin-right: 3.5rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: blue;
	color: white;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
}
.bt2:hover{
	box-shadow: 0.5rem 0.5rem 0.2rem 0rem grey;
}
.ul{
	float: right;
	margin-left: 5rem;
}
.li{
	list-style: none;
	display: inline-block;
	margin-left: 1rem;
}
.a{
	text-decoration: none;
	color: grey;
	font-size: 1rem;
}
